<ion-header>
  <ion-navbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1 text-center>If you see this page, <br>means you are well authenticated!!</h1>
</ion-content>
