// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

html, body{
  ion-nav{
    font-family: 'AGOOGLE';
  }
  @media (max-width: 320px){
    font-size: 6px;
  }
  @media (min-width: 321px){
    font-size: 8px;
  }
  @media (min-width: 480px){
    font-size: 10px;
  }
  @media (min-width: 600px){
    font-size: 12px;
  }
  @media (min-width: 720px){
    font-size: 15px;
  }
}


@font-face {
  font-family: "AGOOGLE";
  font-style: normal;
  src: url(../assets/fonts/AGOOGLE.otf);
}


.no-scroll .scroll-content{
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.primary-button{
  background: $primary-green-color;
  border-radius: 6vmin;
  font-size: 4vmin;
  height: 9vmin;
  padding: 0 4.5vmin 1.2vmin;
  &.activated{
    background: #209b9e;
  }
}
.clear-button{
  background: transparent;
  border: 1px solid rgba(158, 155, 177, 0.5);
  border-radius: 6vmin;
  font-size: 4vmin;
  height: 9vmin;
  padding: 0 4.5vmin 1.2vmin;
  color: #9e9bb1;
}


.vertical-align{
  display: flex;
  align-items: center;
  justify-content: center;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modal-wrapper {
  left: 10% !important;
  top: 10% !important;
  position: absolute;
  display: block;
  width: 80% !important;
  height: 80% !important;
}
