<ion-header>
  <ion-navbar>
    <ion-title>Choose your country 
      <ion-item>
        <ion-label>Localization</ion-label>
        <ion-select [(ngModel)]="language"  (ionChange)="initLanguage()"  > 
          <ion-option value="arabic">Arabic</ion-option>
          <ion-option value="english">English</ion-option>
        </ion-select>
      </ion-item>


    </ion-title>
  </ion-navbar>
</ion-header>




<ion-content padding  >
 

      <ion-list style="height:2000px!important; display:block; ">     

        <ion-item *ngFor="let item of country_list;" (click)="clickSelect(item)">
          <div ion-row>
            <div ion-col class="name ellipsis">
              {{item.country}}
            </div>
            <div class="code" ion-col col-3>{{item.phone}}</div>
            <div class="country-flag vertical-align">
              <div class="flag flag-{{item.code}} small"></div>
            </div>
          </div>
        </ion-item> 

      </ion-list>    
  
 

</ion-content> 
