 


page-countries-list {

 
  

  border-radius: 3vh;
  font-family: AGOOGLE;
 
 


   
   

  ion-list{ 
 
    ion-item{
      &.selected,&:hover{
        cursor: pointer;
        background-color: #21a7aa;

        color: white;
        font-weight: bold;
      }
      .name{
        font-size: 2.5vh;
      }
      .code{
        text-align: right;
      }
      .country-flag{

      }
    }
  }
}
