 




page-phone-auth {

  .error-field{  border:5px solid red; color:red; }
  .error-message {
    background: #000;
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    z-index: 100;
    margin: -149px 0px 0px 100%;
    position: absolute;
    width: 300px;
    -webkit-animation: fadeOut 3s;
    animation: fadeOut 3s;
}


  background: url("../assets/imgs/login/login_bg.png") no-repeat center;
  background-size: cover;
  ion-content {
    background: transparent !important;
    text-align: center;
    .icon {
      margin-top: 10vh;
      img {
        height: 20vh;
      }
    }
    .title {
      font-size: 4vh;
      color: white;
      margin: 4vh 0 2vh;
    }
    .phone-number {
      position: relative;
      direction: ltr;
      .country {
        position: absolute;
        left: 5%;
        height: 100%;
        width: 25%;
        text-align: center;
        .code {
          letter-spacing: 1px;
          color: #343546;
          font-size: 2.6vh;
          line-height: 10vh;
          font-weight: bold;
          display: inline-block;
        }
        .flag {
          line-height: 10vh;
          display: inline-block;
          margin-bottom: -5px;
        }
      }
      input {
        letter-spacing: 1px;
        border: 2px solid lightgray;
        border-radius: 10vh;
        padding: 2.5vh 5vh 2.5vh 25%;
        height: 10vh;
        width: 90%;
        font-size: 2.6vh;
        font-weight: bold;
        color: #343546;
        &::placeholder {
          font-size: 3vh;
          text-align: center;
          color: #babac0;
          font-weight: normal;
        }
      }
    }
    .start {
      margin-top: 2vh;
      .primary-button {
        width: 90%;
        height: 10vh;
        font-size: 4vh;
        background-color: #ff578f;
        border-radius: 10vh;
        color: white;
      }
    }
    .hint {
      color: white;
      font-size: 3vh;
      margin: 1vh 5vw;
    }
  }
  .confirmation {
    .label {
      font-size: 4.8vw;
      color: white;
      margin: 3vh 0 1vh;
    }
    input {
      letter-spacing: 1px;
      border: 2px solid lightgray;
      border-radius: 10vh;
      padding: 2vh 5vh;
      height: 10vh;
      width: 90%;
      font-size: 3vh;
      font-weight: bold;
      text-align: center;
      color: #343546;
      &::placeholder {
        font-size: 3vh;
        color: #babac0;
        font-weight: normal;
        text-align: center;
      }
    }
    .confirm-button {
      margin-top: 6vh;
      .primary-button {
        color: white;
        width: 90%;
        height: 8vh;
        font-size: 4vh;
        border-radius: 10vh;
      }
    }
    .cancel-button {
      margin-top: 10vh;
      .primary-button {
        color: #A0A0A0;
        padding: 0 5rem;
        height: 6vh;
        font-size: 3vh;
        border-radius: 10vh;
        background: lightgray;
      }
    }
  }
}
