 


 
<ion-content padding *ngIf="enter_phone" >
  <div class="icon">
    <img src="assets/imgs/common/icon.png">
  </div>
  <div class="title">
    The Best Game Ever
  </div>
  <div class="phone-number">
    <div class="country"  (click)="openCountryListModal()">
      <div class="flag flag-{{country.code}} small"></div>
      <div class="code"  >{{country.phone}}</div> 
    </div>
    <input type="tel" placeholder="Phone number"  [(ngModel)]="input_phone" [className]="validator_error.phone ? 'error-field' : '' "  (input)="onChangeNumber()" >
  </div>
  <div class="start">
    <button ion-button (click)="clickStartGame()" class="primary-button">Start the Game</button>
  </div>
  <div class="hint">
    By clicking on start button, you agree to our privacy policy.
  </div>
</ion-content>




<ion-content padding *ngIf="enter_confirmation" class="confirmation">
  <div class="icon">
    <img src="assets/imgs/common/icon.png">
  </div>
  <div class="code-confirmation">
    <div class="title">
      Enter confirmation code
    </div>
    <input type="number" placeholder="confirmation code"  [(ngModel)]="input_code">
  </div>
  <div class="start">
    <button ion-button class="primary-button" (click)="clickConfirm()">Confirm</button>
  </div>
  <div class="cancel-button">
    <button ion-button class="primary-button">Cancel</button>
  </div>
</ion-content>
